<p>タイトル一覧</p>
<%= link_to 'タイトルを追加する', new_content_path, remote: true, class: "btn btn-outline-success" %>
<div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<p style="padding-top: 20px;"><%= link_to "時間割リストへ", schedules_path %></p>

<table class="table table-bordered" id="contents">
  <thead class="thead-dark">
  <tr id="t-header">
    <th>編集</th>
    <th>タイトル</th>
    <th>メディア</th>
    <th>配信曜日</th>
  </tr>
  </thead>
  <tbody>
  <%= render @contents %>
  </tbody>
</table>

<style>
th {
  white-space: nowrap;
}
</style>