<div style="padding: 20px;">
  <h1>サブスクアニメ時間割</h1>
  <p>タイトル一覧</p>
  <%= link_to 'タイトルを追加する', new_content_path, remote: true, class: "btn btn-outline-success" %>
  <div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
<p><%= link_to "時間割リストへ", root_path %></p>

<table class="table" id="contents" border="2" style="table-layout:fixed;">
  <tr>
    <th style="width: 10%;">id</th>
    <th style="width: 33%;">タイトル</th>
    <th style="width: 17%;">メディア</th>
    <th style="width: 15%;">配信曜日</th>
    <th style="width: 15%;">URL</th>
    <th style="width: 10%;">編集</th>
  </tr>
  <%= render @contents %>
</table>