<p><%= link_to "<< 時間割リストへ", schedules_path, style: "color: gray; font-size:0.9rem;" %></p>
<div class="add-area">
  <span class="box-title">タイトル登録</span>
    <p>
      <%= link_to "Abemaビデオ", abema_list_contents_path, class: "btn btn-dark" %>
      <%= link_to "Amazonプライム", amazon_list_contents_path, class: "btn btn-primary" %>
    </p>
</div>
<div class="add-area">
  <span class="box-title">LINEで最新話の更新を通知</span>
    <p>
      <a href="https://lin.ee/jWV0dpB"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
    </p>
</div>
<div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="card-group">
<div class="row">
  <%= render @contents %>
</div>
</div>

<style>
.add-area {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px gray;
  border-radius: 8px;
  max-width: 340px;
}
.add-area .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 0.9rem;
  background: #FFF;
  color: gray;
  font-weight: bold;
}

.add-area p {
  margin: 0;
  padding: 10px;
}

.add-area p .btn-dark {
  margin-right: 5px;
}

.card-header {
  height: 60px;
  text-align: center;
  background-color: #343a40;
  color: white;
}

#abema {
  background-color: #343a40;
}

#amazon {
  background-color: #007bff;
}

.card-body {
  background-color: #F8F8FF;
}

.fa-trash-alt {
  position: relative;
  bottom: 10px;
  float: right;
  left: 0px;
  color: gray;
}

.card-footer {
  background-color: #F8F8FF;
}

.media-link {
  color: gray;
}

.media-link:hover {
  color: black;
}

.btn-secondary {
  font-size: 0.8em;
  pointer-events: none;
}

.btn-success {
  font-size: 0.8em;
  background-color: #06c755;
  pointer-events: none;
}
</style>