<p>タイトル一覧</p>
<%= link_to 'タイトルを追加する', new_content_path, remote: true, class: "btn btn-outline-success" %>
<div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<p style="padding-top: 20px;"><%= link_to "時間割リストへ", schedules_path %></p>

<table class="table table-bordered table-responsive" id="contents">
  <thead class="thead-dark">
  <tr id="t-header">
    <th width="30%">タイトル</th>
    <th width="20%">メディア</th>
    <th width="20%">配信曜日</th>
    <th width="20%">URL</th>
    <th width="10%">編集</th>
  </tr>
  </thead>
  <tbody>
  <%= render @contents %>
  </tbody>
</table>

<style>
.table {
  white-space: nowrap;
}
</style>