<p><%= link_to "<< 時間割リストへ", schedules_path, style: "color: gray; font-size:0.9rem;" %></p>
<div class="add-area">
  <span class="box-title">タイトル登録</span>
    <p>
      <%= link_to "Abemaビデオ", abema_list_contents_path, class: "btn btn-dark" %>
      <%= link_to "Amazonプライム", amazon_list_contents_path, class: "btn btn-primary" %>
    </p>
</div>
<div class="add-area">
  <span class="box-title">LINEで最新話の更新を通知</span>
    <p>
      <a href="https://lin.ee/jWV0dpB"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
    </p>
</div>
<div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<table class="table table-bordered" id="contents">
  <thead class="thead-dark">
  <tr id="t-header">
    <th>タイトル</th>
    <th>メディア</th>
    <th>配信曜日</th>
    <th>編集</th>
    <th>LINE通知</th>
  </tr>
  </thead>
  <tbody>
  <%= render @contents %>
  </tbody>
</table>

<style>
.add-area {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px gray;
    border-radius: 8px;
    max-width: 340px;
}
.add-area .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 0.9rem;
    background: #FFF;
    color: gray;
    font-weight: bold;
}

.add-area p {
    margin: 0; 
    padding: 10px;
}

table {
  max-width: 800px;
}

th {
  white-space: nowrap;
}

.title {
  color: gray;
}

.title:hover {
  color: black;
}

.btn-outline-secondary {
  font-size: 0.8em;
}

</style>