$("#<%= @schedule.day + @schedule.order.to_s %>").html('<%= link_to schedule_path(@schedule), method: :delete, data: { confirm: "削除しますか？" } do %><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button><% end %>');
$("#<%= @schedule.day + @schedule.order.to_s %>").append('<%= link_to @schedule.content.title, @schedule.content.url, target: :_blank, rel: "noopener noreferrer", type: "button", class: "btn btn-outline-primary", style: "font-size: 0.75rem;" %>');
$("#schedule-modal").modal("hide");
console.log('時間割を作成しました');