<h1>サブスクアニメ時間割</h1>
<p>現在の視聴リスト</p>
<div style="padding-bottom: 20px;">
<%= link_to 'タイトルを追加する', new_content_path, remote: true, class: "btn btn-outline-secondary" %>
</div>
  <table class="table" border="1" width="1000" height="700">
  <div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <tr>
      <th width="10%">時間割</th>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
      <th>日</th>
    </tr>
  <% 1.upto(5) do |i| %>
    <tr>
      <td><%= i %></td>
      <% 7.times do %>
      <td class="align-middle" style="text-align: center;"></td>
      <% end %>
    </tr>
  <% end %>
  </table>
