<p>
<% if current_user.try(:admin?) %>
  <%= link_to '管理者ログイン', rails_admin_path %>
<% end %>
</p>
<footer class="footer">
  <nav class="navbar navbar-light bg-dark">
      <%= link_to '利用規約', terms_path, class: "nav-link term" %>
      <%= link_to 'プライバシーポリシー', privacy_path, class: "nav-link term" %>
      <div class="copy-right">Copyright © <%= DateTime.now.strftime("%Y") %>. サブスクアニメ時間割</div>
  </nav>
</footer>