<h3>サブスクアニメを時間割で管理しよう</h3>
<div style="padding-top: 20px; padding-bottom: 30px;">
<%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post, type: "button", class: "btn btn-outline-info btn-lg" %>
</div>
<p>こんな感じで登録できます▼</p>
<%= image_tag 'sample_table.png' %>
