<h3>サブスクアニメを時間割で管理しよう</h3>
<div style="padding-top: 20px; padding-bottom: 30px;">
<%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post, type: "button", class: "btn btn-outline-info btn-lg" %>
</div>
<div class="border border-secondary" style="padding: 15px;">
<p>よろしければポートフォリオの改善アンケートにご協力ください</p>
<%= link_to 'アンケートはこちら', 'https://forms.gle/rsUDHwDYFWkmn1pc6', target: :_blank, rel: "noopener noreferrer", type: "button", class: "btn btn-secondary" %>
</div>
<p style="padding-top: 30px;">こんな感じで登録できます▼</p>
<%= image_tag 'sample_table.png', class: "img-fluid" %>
