#to-schedules-link {
  font-size: 0.9rem;
}

#media-add-area {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px gray;
  border-radius: 8px;
  max-width: 380px;
  background: white;
  height: 80px;
}

#media-add-area .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 0.9rem;
  background: #FEECE9;
  color: gray;
  font-weight: bold;
}

#line-add-area {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px gray;
  border-radius: 8px;
  max-width: 230px;
  background: white;
  height: 70px;
}

#line-add-area .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 0.9rem;
  background: #FEECE9;
  color: gray;
  font-weight: bold;
}

#add-content {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-content span {
  display: block;
  margin: 0 5px;
}

#add-content .btn-dark {
  background: #343a40;
  width: 100px;
}

#add-content .btn-primary {
  background: #146EB4;
  width: 100px;
}

#add-content .btn-danger {
  background: #d81f26;
  width: 100px;
}


#add-line-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;

}

#media-add-area p .btn-dark {
  margin-right: 5px;
}

.card-md-4 {
  padding-bottom:30px;
  min-width: 300px;
}

.card-header {
  height: 60px;
  text-align: center;
  background-color: #343a40;
  color: white;
}

#abema {
  background-color: #343a40;
}

#amazon {
  background-color: #146EB4;
}

#netflix {
  background-color: #d81f26;;
}

.card-body {
  background-color: white;
}

.fa-trash-alt {
  position: relative;
  bottom: 10px;
  float: right;
  left: 0px;
  color: gray;
}

.card-footer {
  background-color: white;
}

.media-link {
  color: gray;
}

.media-link:hover {
  color: black;
}

#content-card-body .btn-secondary {
  font-size: 0.8em;
}

#content-card-body .btn-success {
  font-size: 0.8em;
  background-color: #06c755;
}

#content-card-body .btn-success:hover {
  background-color: #06c755;
}