.top-wrraper {
  margin: 0 auto;
  display: block;
}

.main-title {
  padding-top: 20px;
  text-align: center;
}

.top-login {
  padding: 20px;
  margin-bottom: 20px;
}

.top-login span {
  margin-right: 20px;
}

.top-login p {
  color:gray;
  font-size:0.9rem;
}

.card {
  margin: 0 auto;
  display: block;
  max-width: 350px;
  margin-bottom: 30px;
}

.card span {
  padding: 10px;
}