.profile-wrapper {
  background-color: white;
  padding: 30px;
  max-width: 700px;
  color: #333333;
  margin: 20px 0;
}

#profile-edit-button {
  padding-top: 20px;
}

.profile-item {
  padding: 15px 0;
}

.profile-item span {
  color: gray;
}

#profile-border {
  border-bottom: 1px solid;
  border-color: #c0c0c0;
  padding: 10px;
}