.table {
  text-align: center;
  max-width: 750px;
}

td {
  width: 100px;
  height: 100px;
  min-width: 80px;
  max-height: 40px;
}

td i {
  color: gray;
  position: relative;
  bottom: 5px;
  left: 5px;
}

td p {
  line-height: 100%;
  padding-top: 10px;
  font-size: 0.7rem;
  text-align: center;
  min-width: 60px;
  max-height: 30px;
}

.new-flag {
  font-size: 0.6rem;
  position: relative;
  top: 10px;
}

.viewed-button {
  width: 80%;
  position: relative;
  bottom: 10px;
}