.form-wrraper {
  background-color: rgb(220, 226, 233);
  padding: 30px;
  max-width: 700px;
  color: #333333;
}

.form-group {
  margin: 0 auto;
  width: 85%;
  padding: 10px;
  max-width: 400px;
}

.register-button {
  padding-top: 20px;
  display :block;
  width: 150px;
  margin: 0 auto;
}

.login-link {
  padding-top: 20px;
}

.login-link a {
  color: gray;
}

.line-register {
  margin-top: 20px;
  color: gray;
  display :block;
  width: 160px;
  margin: 0 auto;
}

.line-register p {
  margin: 10px;
  text-align: center;
}

#login-button {
  display :block;
  width: 150px;
  margin: 0 auto;
}

.line-login {
  padding-top: 20px;
  color: gray;
  display :block;
  width: 150px;
  height: 100%;
  margin: 0 auto;
}

.register-link {
  padding-top: 20px;
}

.register-link a {
  color: gray;
}